@import '../styles/variables-mixins.scss';

.countries {

    ul {
        position: relative;

        &:before {
            content    : '';
            height     : 100%;
            position   : absolute;
            left       : 65px;
            bottom     : -10px;
            border-left: 1px dashed black;
            z-index    : -9;
        }

        .firstList,
        .secondList {
            &:before {
                height     : unset;
                width      : 50%;
                left       : 27px;
                top        : 12px;
                border-left: none;
                border-top : 1px dashed black;
            }
        }

        .secondList {
            &:before {
                left: -12px;
            }
        }

        li {
            margin: 10px auto;

            span {
                @include flex_start;
                font-weight     : 500;
                border          : 1px solid black;
                border-radius   : 5px;
                background-color: white;
                padding         : 2px 10px;


                @media (min-width: 992px) {
                    cursor: pointer;
                }
            }
        }
    }
}